# **Setup**
 
Reset the Python environment to clear it of any previously loaded variables, functions, or libraries. Then, import the libraries needed to complete the code Professor Melnikov presented in the video.

In [1]:
%reset -f
from IPython.core.interactiveshell import InteractiveShell as IS
IS.ast_node_interactivity = "all"    # allows multiple outputs from a cell
import pandas as pd, numpy as np

<hr style="border-top: 2px solid #606366; background: transparent;">

# **Review**

In this notebook, you'll practice creating and manipulating Pandas DataFrame objects and examine how they are similar to and differ from NumPy arrays. 

<h3 style="color:black"> Pandas DataFrames</h3>

In the next cell, you will use the [`.reshape`](https://numpy.org/doc/stable/reference/generated/numpy.reshape.html) method to create a 5 $\times$ 10 list of 50 numbers ranging from 0 to 49. Then, you'll turn this list into a Pandas DataFrame object with the [`.DataFrame`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html) method. The row indices are labeled with the `index` argument and column indices are labeled with the `columns` argument.

In [2]:
Arr = np.reshape(list(range(50)),(5, 10))    # reshapes a 1D array of 50 values into 5x10 2D array
Arr
df = pd.DataFrame(Arr, index=list('VWXYZ'), columns=list('ABCDEFGHIK'))
df

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]])

    A   B   C   D   E   F   G   H   I   K
V   0   1   2   3   4   5   6   7   8   9
W  10  11  12  13  14  15  16  17  18  19
X  20  21  22  23  24  25  26  27  28  29
Y  30  31  32  33  34  35  36  37  38  39
Z  40  41  42  43  44  45  46  47  48  49

Just like with NumPy arrays, DataFrames have a [`shape`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html) method, which returns a tuple with row and column counts.

In [3]:
df.shape  # returns # of rows and columns

(5, 10)

You can slice (or subset) columns and rows from a DataFrame object using their names in brackets. Notice that double-bracketed names return a Pandas [`DataFrame`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html) object, while a single-bracketed (single) name returns a Pandas [`Series`](https://pandas.pydata.org/docs/reference/api/pandas.Series.html) object, which is similar but has fewer attributes and is meant for a single sequence of values, not an object in a tabular format.

In [4]:
df['A']  # Returns a Series object with 1 column. Same as df.A

V     0
W    10
X    20
Y    30
Z    40
Name: A, dtype: int64

In [5]:
df[['A']]  # Returns a DataFrame object with 1 column.

    A
V   0
W  10
X  20
Y  30
Z  40

You can also use integer (zero-based) indices to slice columns and rows.

In [6]:
df[0:2]  # returns 2 rows with indices 0 and 1, but index 2 is excluded

    A   B   C   D   E   F   G   H   I   K
V   0   1   2   3   4   5   6   7   8   9
W  10  11  12  13  14  15  16  17  18  19

A DataFrame's elements can store non-numeric values, such as strings, lists, and more complex objects.

In [7]:
LsInt = dir(0)  # list of strings, names of attributes of an integer object
dfInt = pd.DataFrame(LsInt, columns=['Methods']) # dataframe with attributes names for an integer object
dfInt.T   # show a transposed (on its side) dataframe

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,69
Methods,__abs__,__add__,__and__,__bool__,__ceil__,__class__,__delattr__,__dir__,__divmod__,__doc__,...,__trunc__,__xor__,bit_length,conjugate,denominator,from_bytes,imag,numerator,real,to_bytes

To compute the length of any string value in the [Series](https://pandas.pydata.org/docs/reference/api/pandas.Series.html) object, you can call the [`str`](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.html) attribute to gain access to stored string values and then use the string's [`len()`](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.len.html) method. Store these results in a new column in the `dfInt` DataFrame.

In [8]:
dfInt['Length'] = dfInt['Methods'].str.len()   # retrieve length of each string in a dataframe and store in Legnth column
dfInt.T    # show dataframe transposed, so that it occupies less vertical space on screen

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,69
Methods,__abs__,__add__,__and__,__bool__,__ceil__,__class__,__delattr__,__dir__,__divmod__,__doc__,...,__trunc__,__xor__,bit_length,conjugate,denominator,from_bytes,imag,numerator,real,to_bytes
Length,7,7,7,8,8,9,11,7,10,7,...,9,7,10,9,11,10,4,9,4,8

You can compute basic statistics on any numeric columns using [`mean`](https://pandas.pydata.org/docs/reference/api/pandas.Series.mean.html) method and other statistical functions applied to the retrieved Series object.

In [9]:
print('Average length: ', dfInt.Length.mean())         # same as dfInt['Length'].mean(); average length in characters
print('Standard devatiion:', dfInt.Length.std())       # average standard deviation
print('Shortest attribute name:', dfInt.Length.min())  # minimum of lengths
print('Longest attribute name:', dfInt.Length.max())   # maximum of lengths

Average length:  8.82857142857143
Standard devatiion: 2.587435799505593
Shortest attribute name: 4
Longest attribute name: 17

The average character length of the strings in this DataFrame is 8.8, with a standard deviation of 2.6.

<h3 style="color:black"> Boolean Masks</h3>

You can create **Boolean masks**, which are arrays or lists that indicate whether an element satisfies a specific condition. These masks are sometimes useful to filter a DataFrame into a smaller set of qualifying rows or columns.

In [10]:
dfInt['isPrivateMask'] = dfInt.Methods.str.startswith('_')   # indicates private attribute names, which start with '_'
dfInt.T

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,69
Methods,__abs__,__add__,__and__,__bool__,__ceil__,__class__,__delattr__,__dir__,__divmod__,__doc__,...,__trunc__,__xor__,bit_length,conjugate,denominator,from_bytes,imag,numerator,real,to_bytes
Length,7,7,7,8,8,9,11,7,10,7,...,9,7,10,9,11,10,4,9,4,8
isPrivateMask,True,True,True,True,True,True,True,True,True,True,...,True,True,False,False,False,False,False,False,False,False

You can now apply the Boolean mask to filter rows of the DataFrame to attribute names without underscore prefixes. `~` negates each Boolean value from `True` to `False` and vice versa.

In [11]:
aMask = ~dfInt['isPrivateMask'].values  # array of Booleans 
dfInt[aMask]

        Methods  Length  isPrivateMask
62   bit_length      10          False
63    conjugate       9          False
64  denominator      11          False
65   from_bytes      10          False
66         imag       4          False
67    numerator       9          False
68         real       4          False
69     to_bytes       8          False

You can also compute statistics for a particular group with the [`groupby()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html) method. As an example, compute the median character length of methods for private and non-private masks.

In [12]:
dfInt.groupby(dfInt['isPrivateMask']).median()

               Length
isPrivateMask
False               9
True                8

You've just scratched the surface of capabilities of Pandas DataFrames. You can find a much more comprehensive documentation and examples on [pandas.pydata.org](https://pandas.pydata.org/docs/index.html). The goal here is not to learn every Pandas function and its arguments but to familiarize yourself with the tools available in this library and situations in which these tools are applicable.

## Slicing with `.loc`

Recall from a Python prerequisite course that slicing can also be done with [`.loc`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html) method, which takes row/column labels, a True/False array, and their ranges. Some examples are shown below.

In [13]:
dfInt.loc[:2]  # retrieve rows with label names (not numeric indices) 0, 1, 2

   Methods  Length  isPrivateMask
0  __abs__       7           True
1  __add__       7           True
2  __and__       7           True

In [14]:
dfInt.loc[[1,4,6]]  # retrieve rows with label names (not numeric indices) 1, 4, 6

       Methods  Length  isPrivateMask
1      __add__       7           True
4     __ceil__       8           True
6  __delattr__      11           True

In [15]:
dfInt.loc[[1,2], 'Methods']  # retrieve rows labeled 1, 2 for the column 'Methods'

1    __add__
2    __and__
Name: Methods, dtype: object

In [16]:
dfInt.loc[[1,2], [True, False, False]]  # retrieve rows labeled 1, 2 for the column 'Methods'

   Methods
1  __add__
2  __and__

##  From Pandas to NumPy

Another operation that will be helpful in this class (and that you might remember from the prerequisite course in Python) is [`.values`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.values.html) attribute, which returns a NumPy matrix of values without row/column labels. This is a quick and convenient conversion of Pandas DataFrame to a NumPy array.

In [17]:
dfInt.values[:3]  # convert to numpy array and return the first 3 rows

array([['__abs__', 7, True],
       ['__add__', 7, True],
       ['__and__', 7, True]], dtype=object)

<hr style="border-top: 2px solid #606366; background: transparent;">

# **Optional Practice**

<span style="color:black"> Now you will practice with Pandas DataFrames.

As you work through these tasks, check your answers by running your code in the *#check solution here* cell, to see if you’ve gotten the correct result. If you get stuck on a task, click the See **solution** drop-down to view the answer.

## Task 1

Create a DataFrame `dfA` with the column `'Name'` that contains attribute names for a Python `list` object.

<b>Hint:</b> See code above. You can use <code>dir(list)</code> to draw list attribute names.

In [ ]:
# check solution here


<font color=#606366>
    <details><summary><font color=#b31b1b>▶ </font>See <b>solution</b>.</summary>
    <pre>
LsA = dir(list)
dfA = pd.DataFrame(LsA, columns=['Name'])
dfA.T
    </pre>
    </details> 
</font>
<hr>

## Task 2

Use string's [`replace()`](https://docs.python.org/3/library/stdtypes.html#str.replace) method to replace all `'_'` characters with `''` from strings in the `Name` column and save results back to `dfA` in a new column, `'NameClean'`.

<b>Hint:</b> See code above. You can use <code>.str.replace('_','')</code> method to remove underscores in each string value stored in a DataFrame.

In [ ]:
# check solution here


<font color=#606366>
    <details><summary><font color=#b31b1b>▶ </font>See <b>solution</b>.</summary>
    <pre>
dfA['NameClean'] = dfA.Name.str.replace('_','')
dfA.T
    </pre>
    </details> 
</font>
<hr>

## Task 3

Add a column, `'HasO'`, which has `True` if the name contains the letter `'o'` and `False` otherwise.

<b>Hint:</b> Try <code>str.contains('o')</code> method to calculate a Boolean value for each string in our DataFrame. See code above.

In [ ]:
# check solution here


<font color=#606366>
    <details><summary><font color=#b31b1b>▶ </font>See <b>solution</b>.</summary>
    <pre>
dfA['HasO'] = dfA.NameClean.str.contains('o')
dfA.T
    </pre>
    </details> 
</font>
<hr>

## Task 4

Add a `Len` column with the character lengths of clean attribute names.

<b>Hint:</b> Try <code>str.len()</code> to compute length of each string stored in a DataFrame. See code above.

In [ ]:
# check solution here


<font color=#606366>
    <details><summary><font color=#b31b1b>▶ </font>See <b>solution</b>.</summary>
    <pre>
dfA['Len'] = dfA.NameClean.str.len()
dfA.T
    </pre>
    </details> 
</font>
<hr>

## Task 5

Using `dfA`, compute the mean and standard devation for each group of attributes: those with the letter `'o'` and those without. Is there evidence that one group of attribute names is longer than the other?

<b>Hint:</b> See code above. You can use <code>std()</code> in group by to compute standard deviation of character lengths within each group.

In [ ]:
# check solution here


<font color=#606366>
    <details><summary><font color=#b31b1b>▶ </font>See <b>solution</b>.</summary>
    <pre>
dfA.groupby('HasO').mean()
dfA.groupby('HasO').std()
    </pre>
    </details> 
</font>
<hr>